<% layout("/layout/boilerplate")%>
  <div class="row">
    <div class="col-8 offset-2 mt-3">
      <h3>Edit your Listing</h3>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation"
        enctype="multipart/form-data">
        <div>
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" value="<%= listing.title %>" class="form-control" type="text" required />
          <div class="invalid-feedback">Please enter the valid Title</div>
        </div>
        <div>
          <label for="title" class="form-label">Description</label>

          <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
          <div class="invalid-feedback">Please enter the description</div>

          <div class="mb-3" class="edit-image">
            <br />
            <img src="<%=listing.image.url %>" style="height: 200px; width:300px "   alt="">
          </div>
          <div>

            <label for="title" class="form-label">Upload Image Link</label>

            <input name="listing[image] " type="file" class="form-control" />
          </div>
          <div>


            <div class="row">
              <div class="mb-3 col-md-4">

                <label for="title" class="form-label">Price</label>
                <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required />

                <div class="invalid-feedback">Please enter the Price</div>
              </div>

              <div class="mb-3 col-md-8">

                <label for="title" class="form-label">Country</label>

                <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control"
                  required />
                <div class="invalid-feedback">Please enter the country name</div>
              </div>
            </div>

            <div class="row">
              <div class="mb-3 col-md-4">
                <label for="title" class="form-label">Location</label>

                <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control"
                  required />
                <div class="invalid-feedback">Please enter the location</div>
              </div>
              <div class="mb-3 col-md-8">
                <label for="category" class="form-label">Category</label>
                <select name="listing[category]" class="form-select">
                  <option value="Mountains" <%=listing.category==="Mountains" ? "selected" : "" %>>Mountains</option>
                  <option value="Camping" <%=listing.category==="Camping" ? "selected" : "" %>>Camping</option>
                  <option value="Farms" <%=listing.category==="Farms" ? "selected" : "" %>>Farms</option>
                  <option value="iconic-cities" <%=listing.category==="iconic-cities" ? "selected" : "" %>>Iconic Cities
                  </option>
                  <option value="forest" <%=listing.category==="forest" ? "selected" : "" %>>Forest</option>
                  <option value="Desert" <%=listing.category==="Desert" ? "selected" : "" %>>Desert</option>
                  <option value="castles" <%=listing.category==="castles" ? "selected" : "" %>>Castles</option>
                  <option value="arctic" <%=listing.category==="arctic" ? "selected" : "" %>>Arctic</option>
                  <option value="pools" <%=listing.category==="pools" ? "selected" : "" %>>Pools</option>
                  <option value="beach" <%=listing.category==="beach" ? "selected" : "" %>>Beach</option>
                </select>
              </div>
            </div>
            <br /><br />
            <button class="btn btn-dark mb-3 ">Edit</button>
      </form>
    </div>
  </div>